Checks: >
  -*,
  bugprone-assignment-in-if-condition,
  bugprone-branch-clone,
  bugprone-copy-constructor-init,
  bugprone-inaccurate-erase,
  bugprone-macro-parentheses,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance
HeaderFilterRegex: '(^|.*/)src/.*'
