# qt source directory
src/qt/.*
temp-src
build
artifacts

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
build-*
!build-qt5-static.sh
!toolchains/qt5-static/build-inside-container.sh
